<footer>
  <div class="row main-footer">
    <div class="small-12 large-4 column">
      <h1 class="logo">
        <%= link_to image_tag("logo-wt.svg", class: "footerLogo"), "/presentacion" %>
      </h1>
      <p class="info">
        <a href="https://www.participacionsuelos.cl">ParticipacionSuelos.cl</a> es una iniciativa encabezada por el Núcleo Milenio de Investigación en Energía 
        y Sociedad (NUMIES) y la ONG Suelo Sustentable y financiada por la Agencia Nacional de Investigación y Desarrollo (ANID) a través del fondo PME2020 de 
        la Iniciativa Científica Milenio.
      </p>
    </div>
    
    <div class="small-12 medium-4 column">
      <h4>SOCIOS</h4>
      <ul>
        <li><a href="http://www.numies.cl/">NUMIES</a></li>
        <li><a href="http://www.colegiodegeologos.cl/">Colegio de Geólogos de Chile</a></li>
        <li><a href="http://www.schcs.cl/">Sociedad Chilena de la Ciencia del Suelo</a></li>
        <li><a href="https://suelosustentable.cl/">ONG Suelo Sustentable</a></li>
        <li><a href="https://sociedadgeologica.cl/">Sociedad Geológica de Chile</a></li>
      </ul>
      <p class="auspicio">
        Con el patrocinio de la Comisión de Agricultura del Senado de Chile.
      </p>
    </div>

    <div class="small-12 medium-4 column">
      <a class="button expanded large" href="#">Contacto</a>
    </div>
  
  </div>

  <div class="subfooter row">
    <div class="small-12 column">
      Este portal usa la <a href="https://github.com/consul/consul">aplicación CONSUL</a> bajo la licencia <a href="http://www.gnu.org/licenses/agpl-3.0.html">
      AGPL 3.0</a>. Para ver el código de esta implementación o requerir asistencia técnica, por favor ingresa a <a href="https://github.com/pedro-poblete/consul">nuestro 
      GitHub</a>.
      <br/>
      <ul class="no-bullet inline-block">
        <li class="inline-block"><%= link_to t("layouts.footer.privacy"), page_path("privacy") %>&nbsp;|</li>
        <li class="inline-block"><%= link_to t("layouts.footer.conditions"), page_path("conditions") %>&nbsp;|</li>
        <li class="inline-block"><%= link_to t("layouts.footer.accessibility"), page_path("accessibility") %></li>
      </ul>
    </div>
  </div>
</footer>
