// Overrides and adds customized styles in this file
// Read more on documentation:
// * English: https://github.com/consul/consul/blob/master/CUSTOMIZE_EN.md#css
// * Spanish: https://github.com/consul/consul/blob/master/CUSTOMIZE_ES.md#css
//

// DEFINICION DE ELEMENTOS GLOBALES
.button:hover {
    background-color: $dorado;
}

.submenu a:hover, .subnavigation a:hover {
    color: $dorado;
}

.subnavigation a.is-active {
    border-color: $naranjo;
    color: $naranjo;
}

// SUB-HEADERS
.help-header h1 {
      color: $naranjo;
    }

// HEADER AND HEADER ELEMENTS
header {
    background: #fff;
}

.top-bar {
    background: #fff !important;
    color: $burdeo;
}

.header-logo {
    max-height: 125px;
}

.subnavigation {
    background-color: $gris;
}

.top-bar .menu >li a {
    color: $burdeo;
}

@media print, screen and (min-width: 40em) {
    .top-bar .menu > li .button {
      background: $dorado;
      color: white;
      text-align: center;
    }
  }

//   MOBILE MENU

.menu-icon {
    color: $burdeo;
}
.menu-icon::after {
background: $burdeo;
box-shadow: 0 7px 0 $burdeo, 0 14px 0 $burdeo;
}

.menu-icon:hover::after {
background: $dorado;
box-shadow: 0 7px 0 $dorado, 0 14px 0 $dorado;
}

.show-for-small-only .subnavigation {
    background-color: $burdeo;

    .is-active {
        color: $dorado;
    }

    a:hover {
        color: $amarillo;
    }

}

//   RESPONSIVE ITEMS IN MOBILE MENU


// FOOTER AND FOOTER ELEMENTS
.footer {
    background: $burdeo;
    color: white;
}

footer {
    color: white;
}

footer a {
    color: $dorado;
}

footer a:hover {
    color: $amarillo;
}

footer .button {
    text-decoration: none;
    background: $dorado;
}

footer .button:hover {
    background: $amarillo;
}

footer ul {
    list-style-type: none;
}

.main-footer {
    display: flex;
    align-items: center;
}

.main-footer .logo {
    width:100%;
    text-align: center;
}

.footer-logo {
    max-width: 250px;
}

.subfooter {
    border-top-color: white;
    margin-top: 2em;
}

@media only screen and (max-width: 64.063em) {
    .main-footer{
        width: 90%;
        flex-direction: column;
    }
}

// HOME

.hero {
    background-image: image-url('hero.jpg');
    background-size: cover;
    background-position: center;
    margin-top: -1.5rem;
    height: 25rem;
    color: #fff;
}

.hero .row {
    height: 100%;
    display: flex;
}

.hero .columns {
    align-self: center;
}

.hero h1 {
    font-size: 4rem;
    text-transform: uppercase;
}
.hero .subheader {
    color: #fff;
    font-size: 1.5rem;
}

.lead {
    background-color: $dorado;
    color: #fff;
    text-align: center;
}

.lead .column {
    padding-top: 1rem;
    padding-bottom: 1rem;
}