<% content_for :body_class, "home-page" %>

<% content_for :canonical do %>
  <%= render "shared/canonical", href: root_url %>
<% end %>

<div class="header">
  <div class="hero">
    <div class="row">
      <div class="columns">
        <p class="subheader">
          Plataforma de Participación Ciudadana Temprana
        </p>
        <h1>
          Ley Marco de Suelos Chile
        </h1>
      </div>
    </div>
  </div>

  <div class="lead">
    <div class="row">
      <div class="column small-12">
        <h2>
          ¡Bienvenidos!
        </h2>
        <p>
          La Sociedad Chilena de la Ciencia del Suelo, la ONG Suelo Sustentable, el Núcleo Milenio de Investigación en Energía y Sociedad (NUMIES), el Colegio de 
          Geólogos de Chile y la Sociedad Geológica de Chile, con el patrocinio de la Comisión de Agricultura del Senado invita a actores clave del mundo público, 
          privado, academia y la sociedad civil a participar de un proceso participativo para discutir el proyecto de una Ley Marco de Suelos para Chile.
        </p>
      </div>
    </div>
  </div>
</div>

<main>
  <div class="row">
    <div class="small-12 column">
    
      <div class="cards-container margin-top">
        <div class="card small-12 medium-4 column margin-bottom end">
          <a href="#">
            <figure class="figure-card">
              <div class="gradient"></div>
              <%= image_tag("card01.jpg") %>
              <figcaption>
                <br>
                <h3>Qué buscamos con la plataforma ciudadana?</h3>
              </figcaption>
            </figure>
            <p class="description">
              La Plataforma Ciudadana tiene por objeto recibir comentarios y sugerencias respecto al primer borrador del Anteproyecto de 
              Ley de marco de Suelos, elaborado por el Equipo Editor y los Coordinadores de los Equipos Científico Técnicos, en base a los 
              informes y documentación que preparó el equipo de académicos, técnicos y profesionales que componen el proceso.
            </p>
          </a>
        </div>

        <div class="card small-12 medium-4 column margin-bottom end">
          <a href="#">
            <figure class="figure-card">
              <div class="gradient"></div>
              <%= image_tag("card02.jpg") %>
              <figcaption>
                <br>
                <h3>¿Quiénes pueden participar?</h3>
              </figcaption>
            </figure>
            <p class="description">
              Solo podrán participar en esta primera etapa, todas y todos las(os) integrantes del proceso de elaboración del Anteproyecto de 
              Ley Marco de Suelos, que estén inscritos en los equipos científico-técnicos, el equipo editor y el comité ejecutivo. 
            </p>
          </a>
        </div>

        <div class="card small-12 medium-4 column margin-bottom end">
          <a href="#">
            <figure class="figure-card">
              <div class="gradient"></div>
              <%= image_tag("card03.jpg") %>
              <figcaption>
                <br>
                <h3>¿Cuándo se puede participar de este proceso?</h3>
              </figcaption>
            </figure>
            <p class="description">
              Este proceso se realizará entre el día 15 al 19 de enero del año 2021. Se culminará con una reunión ampliada el día 22 de enero 
              de 2021. Debido al contexto COVID-19, este proceso se realizará de forma completamente virtual, a través de esta plataforma.
            </p>
          </a>
        </div>
      </div>
  </div>
</main>

<%# <main class="three-news">
  <div class="column">
    <h3>
      ¿Qué busca esta ley?
    </h3>
    <p>
      Esta ley busca sentar las bases legales para conservar, proteger y restaurar el ecosistema suelo en Chile. 
    </p>
  </div>

  <div class="column">
    <h3>
      ¿Quiénes pueden participar?
    </h3>
    <p>
      El proceso de participación ciudadana temprana invita a representantes de grupos que tengan un interés en temáticas de suelos del mundo público, privado, 
      la academia y la sociedad civil, a entregar sus opiniones y recomendaciones respecto de aspectos clave a incluir en el proyecto de Ley.
    </p>
  </div>

    <div class="column">
    <h3>
      ¿Cuándo se puede participar de este proceso?
    </h3>
    <p>
      Este proceso se realizará desde el XX de diciembre de 2020 a xx de enero de 2021. Debido al contexto Covid-19, este proceso se realizará de forma 
      completamente virtual, a través de esta plataforma.
    </p>
  </div> %>
</main>