<% content_for :body_class, "home-page" %>

<% content_for :canonical do %>
  <%= render "shared/canonical", href: root_url %>
<% end %>

<div class="header">
  <div class="hero">
    <div class="row">
      <div class="columns">
        <p class="subheader">
          Plataforma de Participación Ciudadana Temprana
        </p>
        <h1>
          Ley Marco de Suelos Chile
        </h1>
      </div>
    </div>
  </div>

  <div class="lead">
    <div class="row">
      <div class="column small-12">
        <h2>
          ¡Bienvenidos!
        </h2>
        <p>
          La Sociedad Chilena de la Ciencia del Suelo, la ONG Suelo Sustentable, el Colegio de Geólogos de Chile y la Sociedad Geológica de Chile, 
          con el patrocinio de la Comisión de Agricultura del Senado invita a actores clave del mundo público, privado, academia y la sociedad civil 
          a participar de un proceso participativo para discutir el proyecto de una Ley Marco de Suelos para Chile.
        </p>
      </div>
    </div>
  </div>
</div>

<main>
  <div class="row">
    <div class="small-12 column">
    
      <div class="cards-container margin-top">
        <div class="card small-12 medium-4 column margin-bottom end">
          <a href="#">
            <figure class="figure-card">
              <div class="gradient"></div>
              <%= image_tag("card01.jpg") %>
              <figcaption>
                <br>
                <h3>¿Qué busca esta ley?</h3>
              </figcaption>
            </figure>
            <p class="description">
              Esta ley busca sentar las bases legales para conservar, proteger y restaurar el ecosistema suelo en Chile
            </p>
          </a>
        </div>

        <div class="card small-12 medium-4 column margin-bottom end">
          <a href="#">
            <figure class="figure-card">
              <div class="gradient"></div>
              <%= image_tag("card02.jpg") %>
              <figcaption>
                <br>
                <h3>¿Quiénes pueden participar?</h3>
              </figcaption>
            </figure>
            <p class="description">
              El proceso de participación ciudadana temprana invita a representantes de grupos que tengan un interés en temáticas de suelos del mundo público, 
              privado, la academia y la sociedad civil, a entregar sus opiniones y recomendaciones respecto de aspectos clave a incluir en el proyecto de Ley.
            </p>
          </a>
        </div>

        <div class="card small-12 medium-4 column margin-bottom end">
          <a href="#">
            <figure class="figure-card">
              <div class="gradient"></div>
              <%= image_tag("card03.jpg") %>
              <figcaption>
                <br>
                <h3>¿Cuándo se puede participar de este proceso?</h3>
              </figcaption>
            </figure>
            <p class="description">
              Este proceso se realizará desde el XX de diciembre de 2020 a xx de enero de 2021. Debido al contexto Covid-19, este proceso se realizará de forma 
              completamente virtual, a través de esta plataforma.
            </p>
          </a>
        </div>
      </div>
  </div>
</main>

<%# <main class="three-news">
  <div class="column">
    <h3>
      ¿Qué busca esta ley?
    </h3>
    <p>
      Esta ley busca sentar las bases legales para conservar, proteger y restaurar el ecosistema suelo en Chile. 
    </p>
  </div>

  <div class="column">
    <h3>
      ¿Quiénes pueden participar?
    </h3>
    <p>
      El proceso de participación ciudadana temprana invita a representantes de grupos que tengan un interés en temáticas de suelos del mundo público, privado, 
      la academia y la sociedad civil, a entregar sus opiniones y recomendaciones respecto de aspectos clave a incluir en el proyecto de Ley.
    </p>
  </div>

    <div class="column">
    <h3>
      ¿Cuándo se puede participar de este proceso?
    </h3>
    <p>
      Este proceso se realizará desde el XX de diciembre de 2020 a xx de enero de 2021. Debido al contexto Covid-19, este proceso se realizará de forma 
      completamente virtual, a través de esta plataforma.
    </p>
  </div> %>
</main>